body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}


header {
background-color: #7b0b05;
color: #fff;
padding: 10px;
text-align: center;
}

#main-content {
padding: 20px;
}

table {
width: 100%;
border-collapse: collapse;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
}

th, td {
padding: 8px;
border: 1px solid #ddd;
text-align: left;
}

th {
background-color: #f2f2f2;
}

.team-logo {
max-width: 50px;
max-height: 30px;
vertical-align: middle;
}

.pilot-nationality {
font-size: 12px;
margin-left: 5px;
}

footer {
background-color: #921d17;
color: #fff;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}

.LogoF1emcima {
width: 150px;
height: 150px;
position: absolute;
top: -25px;
right: 150px;
}

.logoFia{
width: 150px;
height: 100px;
position: absolute;
top: -7px;
left: 150px;
}

table {
border-collapse: collapse;
font-family: Arial, sans-serif;
font-size: 14px;
width: 50%;
background-color: #F8F5F0;
}

td, th {
border: 1px solid white;
text-align: center;
padding: 8px;
}

tr:hover {
background-color: white;
}

th {
background-color: #4CAF50;
color: white;
}

.classificacao{
background: linear-gradient(to left, red ,black);
color: white;
}

h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(50, 51, 120);

}

